// BEGIN $r-price
.r-price
  .r-price__price Цена:
    span.r-price__price-value 15000
    span.r-price__price-currency руб
  .r-price__time Сделаю за: 5 дней
  a.r-price__select(href=link) Выбрать исполнителем
  a.r-price__offer(href=link) Встречное предложение
  a.r-price__disable(href=link) Отменить предложение
// END $r-price
