/*------------------------------------*\
  $main
\*------------------------------------*/
.main {
  position:       relative;
  z-index:        2;
  overflow:       hidden;
  padding-bottom: 150px;
  background:     #e1e1e1;
}
