// BEGIN $main
main.main
  include ../../components/header/_header
  if pagename == 'index'
    include ../../components/carousel/_carousel
    include ../../components/promo/_promo
    include ../../components/filter/_filter
    include ../../components/proj-l/_proj-l
    include ../../components/pagination/_pagination
  if pagename == 'order'
    include ../../components/profile/_profile
    include ../../components/proj-v/_proj-v
    include ../../components/answer-p/_answer-p
    include ../../components/reply-p/_reply-p
  if pagename == 'user-type'
    include ../../components/user-t/_user-t
  if pagename == 'catalog'
    include ../../components/carousel/_carousel
    include ../../components/filter/_filter
    include ../../components/user-cat/_user-cat
    include ../../components/pagination/_pagination
// END $main
