- var pagename = 'order'
- var link = pagename + '.html'
doctype html
html(lang='ru')
  include _head
  body
    .page-wrapper
      include ../sections/sidebar/_sidebar
      include ../sections/main/_main
      include ../sections/footer/_footer
    include _scripts
