doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title test
    link(rel='stylesheet', href='styles/bootstrap.css')
  body
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-strap/dist/angular-strap.min.js')
    script(src='bower_components/angular-strap/dist/angular-strap.tpl.min.js')
