/*------------------------------------*\
  BEGIN $filter
\*------------------------------------*/
.filter {
  margin-bottom: 22px;
  border-bottom: 5px solid #d6d6d6;
}

.filter__list {
  @extend %mlp;
  @extend %font--alpha;
  clear:            both;
  overflow:         hidden;
  padding:          0 20px;
  background-color: #e1e1e1;
  font-size:        1.6rem;
  line-height:      2rem;
  &-item {
    float:   left;
    padding: 16px 18px 16px 0;
    &--right {
      float:         right;
      padding-right: 0;
    }
  }
  &-link {
    @extend %tdn;
    color: #ff7200 !important;
    .filter__list-item--active & {
      color:  #303131 !important;
      cursor: default;
    }
  }
}

.filter__btn {
  padding:    0;
  outline:    none;
  border:     none;
  background: url('../images/datauri/dashed-blue-3x1.gif') repeat-x 0 bottom;
  color:      #0da8d5;
}

.filter__submit {
  @extend %font--delta;
  position: absolute;
  top:      0;
  right:    0;
  z-index:  2;
  outline:  none !important;
}

.filter__form {
  position:         relative;
  z-index:          2;
  display:          none;
  padding:          24px 40px;
  background-color: #f4f4f4;
  color:            #4a4a4a;
  font-size:        1.4rem;
  line-height:      2.6rem;
  .opened & {
    display: block;
  }
  &-arrow {
    @extend %pseudoBeforeAfter;
    top:           -11px;
    right:         40px;
    left:          auto;
    border-right:  11px solid transparent;
    border-bottom: 11px solid #f4f4f4;
    border-left:   11px solid transparent;
  }
  .control-label, .form-control {
    display:       inline;
    margin-bottom: 0;
    outline:       none !important;
    box-shadow:    none;
  }
}

.filter__row {
  &--specialization {
    position: relative;
    z-index:  2;
    padding:  4px 134px 4px 0;
    .form-control {
      @extend %font--gamma;
      display:          block;
      float:            left;
      margin-right:     10px;
      padding:          0 8px;
      width:            perc(260, 960);
      height:           26px;
      outline:          none;
      border:           1px solid #d3d3d3;
      background-color: #fff;
      box-shadow:       inset 0 1px 8px rgba(18, 18, 18, 0.08);
      color:            #505050;
      font-size:        1.4rem;
      line-height:      2.4rem;
      @include placeholder {
        color: #505050;
      }
    }
  }
}

.filter__btn-add {
  @extend %font--delta;
  position:         relative;
  z-index:          2;
  display:          block;
  float:            left;
  margin-right:     15px;
  margin-bottom:    12px;
  padding:          0 8px 0 24px;
  height:           2.6rem;
  outline:          none !important;
  border:           1px solid #d1d1d1;
  border-radius:    2px;
  background-image: linear-gradient(to top, #ededed 0%, #fff 100%);
  box-shadow:       0 2px 0 rgba(0, 0, 0, 0.06);
  color:            #363636 !important;
  font-weight:      bold;
  font-size:        1.4rem;
  line-height:      2.4rem;
  .ico__plus {
    @extend .ico__plus;
    @extend %pseudoBeforeAfter;
    top:  7px;
    left: 10px;
  }
}

.specialization-tag {
  @extend %font--delta;
  position:         relative;
  z-index:          2;
  display:          block;
  float:            left;
  margin-right:     8px;
  margin-bottom:    12px;
  padding:          0 24px 0 10px;
  height:           2.6rem;
  border:           none;
  border-radius:    3px;
  background-color: #e1e1e1;
  box-shadow:       none !important;
  color:            #363636;
  font-size:        1.4rem;
  line-height:      2.6rem;
  cursor:           default;
  &:hover {
    color: #363636;
  }
  .ico__close {
    @extend .ico__close;
    @extend %pseudoBeforeAfter;
    top:    9px;
    right:  8px;
    left:   auto;
    cursor: pointer;
  }
}

$ct-col: 960;
.filter__col {
  float: left;
  &--1 {
    width: perc(420, $ct-col);
    .form-control {
      width: 100px;
    }
  }
  &--2 {
    width: perc(320, $ct-col);
    .form-control {
      margin: 0 6px 0 4px;
      width:  42px;
    }
  }
  &--3 {
    width: perc(220, $ct-col);
    .form-control {
      display: block;
      width:   100%;
    }
  }
  .form-group {
    float:   left;
    padding: 0 6px 0 4px;
  }
  .form-control {
    @extend %font--gamma;
    padding:          0 8px;
    height:           26px;
    outline:          none;
    border:           1px solid #d3d3d3;
    background-color: #fff;
    box-shadow:       inset 0 1px 8px rgba(18, 18, 18, 0.08);
    color:            #505050;
    font-size:        1.4rem;
    line-height:      2.4rem;
    @include placeholder {
      color: #505050;
    }
  }
}

.filter__text {
  display: block;
  float:   left;
  &-mq {
    display: none;
    @include bp(screen-beta) {
      display: inline;
    }
  }
}

.filter__fw-list {
  @extend %mlp;
  clear:           both;
  overflow:        hidden;
  padding:         20px 0;
  width:           100%;
  list-style:      none;
  text-align:      justify;
  text-align-last: justify;
  text-justify:    newspaper;
  font-size:       1px;
  line-height:     0;
  &:after {
    display:    inline-block !important;
    visibility: hidden;
    overflow:   hidden;
    width:      100%;
    height:     0;
    content:    "";
  }
  &-item {
    display:        inline-block !important;
    color:          #4a4a4a;
    vertical-align: top;
    text-align:     left;
    font-size:      1.4rem;
    line-height:    1.6rem;
  }
  .form-control {
    margin-top:   1px;
    margin-right: 4px;
    width:        16px;
    height:       16px;
    outline:      none;
  }
  .form-control, .control-label {
    display:     block;
    float:       left;
    cursor:      pointer;
    user-select: none;
  }
  &-mq {
    display: none;
    @include bp(screen-beta) {
      display:       block;
      float:         left;
      padding-right: 4px;
    }
  }
}

.filter__ico-pro {
  @extend .ico__pro;
  display: block;
  float:   left;
}

.filter__ico-verifed {
  @extend .ico__verifed;
  display: block;
  float:   left;
}

.filter__submit {

}

/* END $filter */
