// Grid
.page-wrapper {
  position:     relative;
  clear:        both;
  overflow:     hidden;
  margin-right: auto;
  margin-left:  auto;
  min-width:    $minw;
  min-height:   100%;
  max-width:    $maxw-alpha;
  height:       auto;
  background:   #e1e1e1;
  &:before {
    @extend %pseudoBeforeAfter;
    bottom:     0;
    z-index:    0;
    width:      240px;
    background: #222;
  }
}
