// BEGIN $p-state
.p-state
  span.p-state__title Исполнитель:
    span.p-state__title-status.p-state__title-status--not-selected не выбран
  | Статус заказа: Открыт
  br
  | Дата публикации: 12.09.2014
  br
  | Просмотров: 543  ID: #52345
// END $p-state
