// BEGIN $promo
.promo.cf
  .promo__item
    p.promo__text Опубликуйте
      br
      | заказ
  .promo__item
    p.promo__text Выберете интересный
      br
      | заказ и сделайте
      br
      | ставку
  .promo__item
    p.promo__text Выберете студлансера среди
      br
      | откликнувшихся, либо
      br
      | пригласите из каталога
  .promo__item
    p.promo__text Заказчик резервирует
      br
      | стоимость работы на
      br
      | сайте StudLance.ru
  .promo__decor
  .promo__item
    p.promo__text Контролируйте
      br
      | выполнение работы в
      br
      | специально отведенной
      br
      | рабочей области
  .promo__item
    p.promo__text Используйте рабочую область
      br
      | для связи с заказчиком и
      br
      | загрузки выполненной работы
  .promo__item
    p.promo__text Проверьте и примите работу
      br
      | студлансера
  .promo__item
    p.promo__text Деньги поступят к вам
      br
      | на счет и будут доступны
      br
      | к выводу
// END $promo
