// BEGIN $promo
.promo.cf
  .promo__item
    p.promo__text Опубликуйте заказ
  .promo__item
    p.promo__text Выберете интересный заказ и сделайте ставку
  .promo__item
    p.promo__text Выберете студлансера среди откликнувшихся, либо пригласите из каталога
  .promo__item
    p.promo__text Заказчик резервирует стоимость работы на сайте StudLance.ru
  .promo__decor
  .promo__item
    p.promo__text Контролируйте выполнение работы в специально отведенной рабочей области
  .promo__item
    p.promo__text Используйте рабочую область для связи с заказчиком и загрузки выполненной работы
  .promo__item
    p.promo__text Проверьте и примите работу студлансера
  .promo__item
    p.promo__text Деньги поступят к вам на счет и будут доступны к выводу
// END $promo
