// BEGIN $proj-v
.proj-v.cf(init-block='_temp.scss')
  .proj-v__col-right
    .proj-v__price Цена:
      span.proj-v__price-value 15000
      span.proj-v__price-currency руб
    .proj-v__date Срок сдачи: 12.12.2014
  .proj-v__col-left
    h1.proj-v__title Реферат по истории отечества
    ul.proj-v__breadcrumbs
      li.proj-v__breadcrumbs-item: a.proj-v__breadcrumbs-link(href=link) Гуманитарные науки
      li.proj-v__breadcrumbs-item: a.proj-v__breadcrumbs-link(href=link) История
      li.proj-v__breadcrumbs-item Реферат
    .proj-v__text Не факт, что селекция бренда изящно притягивает потребительский нестандартный подход, отвоевывая рыночный сегмент. Диверсификация бизнеса, анализируя результаты рекламной кампании, интуитивно продуцирует эмпирический CTR, учитывая современные тенденции. Корпоративная культура, на первый взгляд, допускает рекламный макет, не считаясь с затратами. Маркетингово-ориентированное издание как всегда непредсказуемо.
    button.btn.btn-info(type='button')
      span.btn__back
        i.ico.ico__text
      span.btn__t Задание.docx
      span.btn__t2 130 Kb
    button.btn.btn-success(type='button')
      span.btn__back
        i.ico.ico__table
      span.btn__t Таблица.xls
      i.ico.ico__close-2
    button.btn.btn-danger-1(type='button')
      span.btn__back
        i.ico.ico__triangle
      span.btn__t Промо страницы
      i.ico.ico__close-2
    button.btn.btn-warning-light(type='button')
      span.btn__back
        i.ico.ico__archive
      span.btn__t Архив.zip
      i.ico.ico__close-2
    button.btn.btn-success-darken(type='button')
      span.btn__back
        i.ico.ico__archive
      span.btn__t Архив.zip
      i.ico.ico__close-2
    button.btn.btn-danger-2(type='button')
      span.btn__back
        i.ico.ico__presentation
      span.btn__t Презентация.ppt
      i.ico.ico__close-2
    button.btn.btn-danger-3(type='button')
      span.btn__back
        i.ico.ico__a
      span.btn__t file.dwg
      i.ico.ico__close-2
    button.btn.btn-violet(type='button')
      span.btn__back
        i.ico.ico__clip
      span.btn__t Книга.djvu
      i.ico.ico__close-2
    button.btn.btn-warning-darken(type='button')
      span.btn__back
        i.ico.ico__pic
      span.btn__t Картинка.jpg
      i.ico.ico__close-2
    button.btn.btn-info-light(type='button')
      span.btn__back
        i.ico.ico__pensil
      span.btn__t Logo.ai
      i.ico.ico__close-2
    button.btn.btn-gray(type='button')
      span.btn__back
        i.ico.ico__file
      span.btn__t file.html
      i.ico.ico__close-2
// END $proj-v
