// BEGIN $reply-p
.reply-p
  h3.reply-p__title Предложения студлансеров
    span.reply-p__title-counter (2)
    | :
  .reply-p__item
    include ../profile/p-user/_p-user
    include r-price/_r-price
    .reply-p__text
      | Готов выполнить ваш проект! Работаю аккуратно. Оперативно вношу правки. К вашим услугам два дизайнера с опытом работы 5 лет. Качественно, точно в срок за адекватные деньги.
    .reply-p__in
      .reply-p__in-name Никита Светлов
      .reply-p__in-text Динамометаморфизм вызывает флювиогляциальный делювий, что в конце концов приведет к полному разрушению хребта под действием собственного веса.
      .reply-p__in-name Игорь Попович
      .reply-p__in-text Деградация мерзлоты эффективно несет в себе биотит. Процессы же, понимание которых имеет решающее значение для прогнозирования землетрясений, сдвиг существенно составляет эффузивный голоцен, в соответствии с изменениями в суммарной минерализации. Магнитное наклонение горизонально обедняет третичный водоносный этаж. Краевая часть артезианского бассейна, главным образом в карбонатных породах палеозоя, длительно имеет тенденцию биокосный сталагмит, в соответствии с изменениями в суммарной минерализации.
    form#reply-p__answer.reply-p__answer(action=link, method='post', name='reply-p__answer')
      .form-group.reply-p__tarea
        textarea#reply-p__tarea.form-control(name='reply-p__tarea') Динамометаморфизм вызывает флювиогляциальный делювий, что в конце концов приведет к полному разрушению хребта под действием собственного веса. Динамометаморфизм вызывает флювиогляциальный делювий, что в конце концов приведет к полному разрушению хребта под действием собственного веса.
      .form-group
        button#reply-p__submit.btn-q(type='submit', name='reply-p__submit') Ответить
        .reply-p__tarea-counter 200
  .reply-p__item
    include ../profile/p-user/_p-user
    include r-price/_r-price
    .reply-p__text
      | Готов выполнить ваш проект! Работаю аккуратно. Оперативно вношу правки. К вашим услугам два дизайнера с опытом работы 5 лет. Качественно, точно в срок за адекватные деньги.
    form#reply-p__answer.reply-p__answer(action=link, method='post', name='reply-p__answer')
      .form-group
        textarea#reply-p__tarea.form-control(name='reply-p__tarea') Текст ответа
      .form-group
        button#reply-p__submit.btn-q(type='submit', name='reply-p__submit') Ответить
        .reply-p__tarea-counter 200
// END $reply-p
