// BEGIN $user-cat
.user-cat(init-block='_temp.scss')
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
  include ../../components/profile/p-user/_p-user
// END $user-cat
