/*------------------------------------*\
  BEGIN $ico
\*------------------------------------*/
.ico {
  &__notice {
    width:             18px;
    height:            18px;
    background-image:  url("../images/sprite/ico__notice.png");
    background-repeat: no-repeat;
  }
  &__list {
    width:             17px;
    height:            17px;
    background-image:  url("../images/sprite/ico__list.png");
    background-repeat: no-repeat;
  }
  &__stats {
    width:             17px;
    height:            17px;
    background-image:  url("../images/sprite/ico__stats.png");
    background-repeat: no-repeat;
  }
  &__cart {
    width:             20px;
    height:            19px;
    background-image:  url("../images/sprite/ico__cart.png");
    background-repeat: no-repeat;
  }
  &__rub {
    width:             18px;
    height:            18px;
    background-image:  url("../images/sprite/ico__rub.png");
    background-repeat: no-repeat;
  }
  &__user {
    width:             15px;
    height:            17px;
    background-image:  url("../images/sprite/ico__user.png");
    background-repeat: no-repeat;
  }
  &__gear {
    width:             17px;
    height:            17px;
    background-image:  url("../images/sprite/ico__gear.png");
    background-repeat: no-repeat;
  }
  &__exit {
    width:             17px;
    height:            17px;
    background-image:  url("../images/sprite/ico__exit.png");
    background-repeat: no-repeat;
  }
  &__pro {
    width:             30px;
    height:            16px;
    background-image:  url("../images/sprite/ico__pro.png");
    background-repeat: no-repeat;
  }

  &__verifed {
    width:             16px;
    height:            16px;
    background-image:  url("../images/sprite/ico__verifed.png");
    background-repeat: no-repeat;
  }

  &__comment {
    width:             15px;
    height:            13px;
    background-image:  url("../images/sprite/ico__comment.png");
    background-repeat: no-repeat;
  }
  &__envelope {
    width:             16px;
    height:            16px;
    background-image:  url("../images/sprite/ico__envelope.png");
    background-repeat: no-repeat;
  }
  &__text {
    width:             16px;
    height:            14px;
    background-image:  url("../images/sprite/ico__text.png");
    background-repeat: no-repeat;
  }
  &__table {
    width:             18px;
    height:            14px;
    background-image:  url("../images/sprite/ico__table.png");
    background-repeat: no-repeat;
  }
  &__triangle {
    width:             19px;
    height:            19px;
    background-image:  url("../images/sprite/ico__triangle.png");
    background-repeat: no-repeat;
  }
  &__archive {
    width:             18px;
    height:            18px;
    background-image:  url("../images/sprite/ico__archive.png");
    background-repeat: no-repeat;
  }
  &__presentation {
    width:             18px;
    height:            18px;
    background-image:  url("../images/sprite/ico__presentation.png");
    background-repeat: no-repeat;
  }
  &__a {
    width:             16px;
    height:            16px;
    background-image:  url("../images/sprite/ico__a.png");
    background-repeat: no-repeat;
  }
  &__clip {
    width:             15px;
    height:            18px;
    background-image:  url("../images/sprite/ico__clip.png");
    background-repeat: no-repeat;
  }
  &__pic {
    width:             16px;
    height:            14px;
    background-image:  url("../images/sprite/ico__pic.png");
    background-repeat: no-repeat;
  }
  &__pensil {
    width:             15px;
    height:            15px;
    background-image:  url("../images/sprite/ico__pensil.png");
    background-repeat: no-repeat;
  }
  &__file {
    width:             18px;
    height:            18px;
    background-image:  url("../images/sprite/ico__file.png");
    background-repeat: no-repeat;
  }
  &__close-2 {
    width:             15px;
    height:            15px;
    background-image:  url("../images/sprite/ico__close-2.png");
    background-repeat: no-repeat;
  }
}

/* END $ico */
