/*------------------------------------*\
  BEGIN $header
\*------------------------------------*/
.header {
  padding:    20px;
  background: #d9d9d9;
}

.header__btn-row {
  &--right {
    float: right;
  }
  .btn-q {
    margin-right:  0;
    border-right:  none;
    border-radius: 0;
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-right:  3px solid #ccc;
      border-radius: 0 3px 3px 0;
    }
  }
}

/* END $header */
